*{
    padding:0px;
    margin:0px;
}

body{

    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(black, rgb(6, 6, 72));
    
}

.container{
    background-color: rgba(155, 170, 227, 0.705);
    height: 520px;
    width:320px;
    border-radius: 10px;
    text-align: center;
}
.container:hover{
    box-shadow: 0px 2px 7px 1px white;
}
input{
    margin-top: 20px;;
    height: 50px;
    width: 310px;
    border-radius: 10px;
    text-align: end;
    font-size:xx-large;
    border: none;
}
button{
    background: transparent;
    font-size:x-large;
    height: 60px;
    width:60px;
    margin:5px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 1px 5px 0.5px black;
}
button:hover{
    box-shadow: 0px 2px 7px 3px black;
}
.calculator{
    margin-top: 50px;
   
}
#AC{
    background-color: rgba(114, 237, 114, 0.596);
}
#C{
    background-color: skyblue;
}
#rt{
    background-color: skyblue;
}
#div{
    background-color: skyblue;
}
#mul{
    background-color: skyblue;
}
#minus{
    background-color: skyblue;
}
#plus{
    background-color: skyblue;
}
#equal{
    background-color: skyblue;
}
